@import url('http://fonts.googleapis.com/css?family=Roboto:400,900,100');

$background-body: '../images/bg.gif';
$background-nav: '../images/logo.png';
$footer-image: '../images/social-media.png';

$red: #E65C43;
$white: #FFF;
$grey: #666;
$grey-footer: #F5F6F6;
$background-footer: #30353D;
$head-color: #F25C43;